<ActionBar class="action-bar">
    <Label class="action-bar-title" text="Home"></Label>
</ActionBar>
<ScrollView>
    <StackLayout class="page animationSlide">
        <!-- Add your page content here -->
        <StackLayout>
            <Label class="h1" text="Coin Coin"></Label>
        </StackLayout>
        <StackLayout class="animationSlide">
            <Image class="logoamoi" src="res://donald"></Image>
        </StackLayout>
        <StackLayout>
            <Label [text]="description" textWrap="true"></Label>
        </StackLayout>
        <StackLayout>
            <Label class="h2" [text]="description" textWrap="true"></Label>
        </StackLayout>
    </StackLayout>
</ScrollView>